<h5>Files uploaded:</h5>
<br>
{{#each filesFromDB}}
<div class="card">
  Title: {{this.title}}
  <br>
  Author: {{this.author}}
  <br>
  Series: {{this.series}}
  <br>
  Language: {{this.language}}
  <br>
  <br>
  Uploaded by: {{this.uploadedBy}}
  <br>
  <form action="/download/{{this.filename}}" method="GET">
    <button type="submit" id="download-button">Download</button>
  </form>
  {{#if ../admin}}
  <br>
  <form action="/delete/{{this.filename}}" method="GET">
    <button type="submit">Delete file</button>
  </form>
  {{/if}}
</div>
<br>
{{/each}}